APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""
FILE_ALLOWED_TYPES=["application/pdf", "text/plain"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE = 512000
MONGODB_URL = "mongodb://localhost:27007"
MONGODB_NAME = "mini-rag"

# ========================= LLM Config =========================
GENERATION_PROVIDER = "OPENAI"
EMBEDDING_PROVIDER = "OPENAI"

OPENAI_API_KEY = ""
OPENAI_API_URL = ""

GENERATION_MODEL_ID = ""
EMBEDDING_MODEL_ID = ""
EMBEDDING_SIZE = 384

INPUT_DEFAULT_MAX_CHARACTERS = 2000
GENERATION_DEFAULT_MAX_TOKENS = 500
GENERATION_DEFAULT_TEMPERATURE = 0.9

# ========================= Vector DB Config =========================
VECTORDB_PROVIDER = "qdrant"
VECTORDB_DIR_PATH = "qdrant_db"
VECTORDB_DISTANCE_METRIC = "cosine"
